# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
build/
build_w/
build_new/
dist/
dist_new/
dist_windowed/
*.spec

# WorkBuddy
.workbuddy/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
